.bookmark{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    top: 5rem;
    margin-left: 15%;
    color: whitesmoke;
    background-color: #1F2937;
}
.showbookmark{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    top: 1rem;
    margin: 2rem 0;
    padding: 1.75rem 0;
}

.channelname{
    padding: 0.4rem 0;
}

.showbookmark__container{
    display: flex;
    flex-wrap: wrap;
    width: 20rem;
    margin: 0.5rem;
    border: 1px solid gray;
    position: relative;
}

.showbookmark__img{
    width: 20rem;
    height: 11.25rem;
    object-fit: cover;
}

.showbookmark__details{
    display: flex;
}

.avatar__image{
    width: 2rem;
    height: 2rem;
    border-radius: 100%;
    margin: 0.4rem ;
}

.showbookmark__items{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.showbookmark__subs{
    display: flex;
    margin: 0.4rem 0;
}

.delete__btn{
    position: absolute;
    top: 0;
    right: 0;
    background-color: #1F2937;
    padding: 0.6rem;
    border-radius: 100% ;
}