.video{
    margin: 0 auto;
    border: 1px solid black;
    /* background-color: #1F2937; */
    /* min-height: 100%; */
    color: whitesmoke;
}
.videodetails{
    background-color: blue;
    width: 100%;
    height: 100%;
    
}
.video p{
    margin:0rem 5rem;
    font-size: 18px;
    font-weight: 600;
}
.text__container{
    display: flex;
    flex-wrap: wrap;
    margin-left: 15%;
}
 
.text__container span {
    color: grey;
    font-size: 15px;
} 
.text__align{
    display: flex;
    justify-content: space-evenly;

}
/* .video__container{
    margin-left:15% ;
    overflow: hidden;
} */

.react__player{
    /* max-width: 100vw; */
    /* max-height: 100vh; */
    margin-left:15% ;
    overflow: hidden;
    width: 0;
    height: 0;
    position: inherit;
    top: 0;
    left: 0;
    z-index: -10000;
}



@media screen and (max-width:760px) {

    .react__player{
        margin-left: 0;
        /* max-height: 0;
        max-width: 0; */
        overflow-x: hidden;

    }

}