.videodetails{
    margin-left: 15%;
    background-color: teal;
    position: relative;
    top: 5rem;
    display: flex;
    flex-direction: column;
}
.video{
    position: relative;
    top: 0;
}
.video__container{
    border: 2px solid black;
    position: relative;
    
}
 
.react-player {
    position: relative;
    top: 0;
    left: 0;
  }

.text__container{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    border: 2px solid black;
    margin: 0.5rem 0;
    padding: 1rem;
}

.text__align{
    display: flex;
    align-items: center;
}

.text__align p{
    margin: 0 1rem;
}

.icons__container {
    margin: 1rem;
}

.icons{
    margin: 0 1rem;
}