/* .videolist{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    /* margin-left: 10%; */
    /* margin-left: 12%;
    background-color: tan;
    
}  */

.videocard__container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* background-color: teal; */
    margin-left:12% ;
    text-decoration: none;
}
.videoCard{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    background-color:teal;
    width: 20rem;
    margin: 0 auto;
}
.videocard__img{
    height: 50%;
    width: 20rem;
}
.videocard__img img{
    height: 11.20rem;
    width: 20rem;
    object-fit: cover;

}

.videocard__details{
    display: flex;
    justify-content: flex-start;
    align-items:baseline;
}
.videocard__details img{
    width: 50px;
    height: 50px;
    border-radius: 100%;
}
.videocard__title{
    width: 35%;
}