.sidebar{
 display: block;
 position: fixed;
 /* top: 5rem; */
 left: 0;
 width: 15%;
 height: 100vh;
 border-right: 1px solid #1F2937;
 background-color: #1F2937;
 color: whitesmoke;
}

.sidebar__lists{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
li{
    list-style: none;
    /* padding: 1rem; */
    padding-top: 1.3rem;
}
span{
    padding-left: 1rem;
    font-size: 1.2rem;
}
.link{
    text-decoration:none;
    color:whitesmoke;
}
@media screen and (max-width:760px) {
    .sidebar{
        display: none;
    }
}

